.footer{
  background:#111;
  color:white;
  text-align:center;
  padding:30px;
}

/* Social Icons */

.social-links{
  margin-top:20px;
  display:flex;
  justify-content:center;
  gap:25px;
}

.social-links a{
  color:white;
  font-size:28px;
  transition:0.3s ease;
}

.social-links a:hover{
  color:orange;
  transform:translateY(-5px) scale(1.1);
}
